/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}
:root{
    --main-color: #ff2c1f;
    --text-color: #020307;
    --bg-color: #fff;
}
/* Custom Scroll Bar */
html::-webkit-scrollbar{
    width: 0.5rem;
    background: var(--text-color);
}
html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;
}
body{
    background:var(--text-color);
    color: var(--bg-color);
}
.aot-main-container{
    background: #020307;
    display: flex;
}
.aot-main-container video{
    width: 70%;
    height: auto;
}
img{
    width: 100%;
    height: 100%;
}